@import "tailwindcss";

@theme {
  /* these could be used for some effects
  --color-primary-50: #ebfff8;
  --color-primary-100: #c7ffe9;
  --color-primary-200: #a3ffda;
  --color-primary-300: #7fffd2;
  --color-primary-400: #66ffcc;
  --color-primary-700: #26b383;
  --color-primary-800: #1a805c;
  --color-primary-900: #0f4d38;
  */

  /*This is used as primary color*/
  --color-primary-500: #4cffc0;

  /*Thos is used for button hover*/
  --color-primary-600: #33e6a8;

  --color-border: #a2a2a2;
  --color-card: #363636;
  --color-subtitle: #b6b6b6;
  --color-bg: #1c1c1c;
  --color-btn: #1e1e1e;

  --animate-overlayExit: overlayExit 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-overlayShow: overlayShow 000ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-contentShow: contentShow 175ms cubic-bezier(0.16, 1, 0.3, 1);

  --container-7xl: 75rem;
}

@utility btn-primary {
  @apply bg-primary-500 hover:bg-primary-600 text-btn cursor-pointer font-bold uppercase transition-[colors,opacity] duration-200 disabled:cursor-not-allowed disabled:opacity-50;
}

@utility btn-secondary {
  @apply hover:border-bg hover:text-bg bg-bg cursor-pointer border border-white font-bold text-white uppercase transition-[colors,opacity] duration-200 hover:bg-white disabled:cursor-not-allowed disabled:opacity-50;
}

@utility btn-tertiary {
  @apply hover:border-card hover:text-card cursor-pointer border border-white font-bold text-white uppercase transition-[colors,opacity] duration-200 hover:bg-white disabled:cursor-not-allowed disabled:opacity-50;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility scrollbar {
  &::-webkit-scrollbar {
    display: block;
  }

  -ms-overflow-style: auto;
  scrollbar-width: auto;
}

@keyframes overlayShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes overlayExit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
